<footer class="foot mt-5">
    <div class="footer-head href=" /">
        <img src="/images/undraw.svg" alt="" width="132" height="84">

        <h1 class="moviesearch">Showfinder</h1>
        <p class="lead">Search Your Favourite Show or Movie</p>
    </div>

</footer>
</body>



</html>